{% extends 'base.html.twig' %}

{% block header %}
     {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Localidad</th>
                <th>acciones</th>                 
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td><a href="{{ path('default_show', {id: person.id}) }}">{{ person.email }}</a></td>
                <td>{{ person.city }}</td>
                  <td>
                    <ul>
                        <li><a href="{{ path('default_show', { id: person.id }) }}">Ver en formato HTML</a></li>
                        <li><a href="{{ path('default_index_json', { id: person.id, _format: 'json' }) }}">Ver en formato JSON</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: pink;
    }
</style>
{% endblock %}