{% extends 'base.html.twig' %}

{% block header %}
     {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}

    <form method="GET">
        <input type="text" name="term"/>
        <input type="submit" name="Buscar"/>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre <a href="{{ path('default_index', { orderBy: 'name', orderDir: 'DESC'}) }}">⬆</a>&nbsp;<a href="{{ path('default_index', { orderBy: 'name', orderDir: 'ASC'}) }}">⬇</a></th>
                <th>Avatar</th>
                <th>Email <a href="{{ path('default_index', { orderBy: 'email', orderDir: 'DESC'}) }}">⬆</a>&nbsp;<a href="{{ path('default_index', { orderBy: 'email', orderDir: 'ASC'}) }}">⬇</a></th>
                <th>Localidad <a href="{{ path('default_index', { orderBy: 'city', orderDir: 'DESC'}) }}">⬆</a>&nbsp;<a href="{{ path('default_index', { orderBy: 'city', orderDir: 'ASC'}) }}">⬇</a></th>
                <th>Departamento</th>
                <th>Proyectos</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{% if person.avatar %}<img src="{{asset('employee/avatar/' ~ person.avatar) }}" width="200"/>{% endif %}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.city }}</td>
                <td>{{ person.department.name }}</td>
                <td>{{ person.projects|join(',')}}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('default_show', { id: person.id }) }}">Ver en formato HTML</a></li>
                        <li><a href="{{ path('default_index_json', { _format: 'json',  id: person.id }) }}">Ver en formato JSON</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: pink;
    }
</style>
{% endblock %}