{% extends 'base.html.twig' %}

{% block header %}
     {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Show</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Localidad</th> 
                <th>Departamento</th>
                <th>Proyectos</th>           
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ person.name }}</td>
                <td><a href="{{ path('default_show', {id: person.id}) }}">{{ person.email }}</a></td>
                <td>{{ person.city }}</td>
                 <td>{{ person.department.name }}</td>
                <td>{{ person.projects|join(',')}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: pink;
    }
</style>
{% endblock %}